
*.lps
backup/kiss_draw.pas
backup/kiss_example1.lpi
backup/kiss_general.pas
backup/kiss_posix.pas
backup/kiss_widgets.pas
backup/README.md
*.lpi
backup/kiss_example2.pas
*.lpi
*.lpi
*.o
*.ppu
*.compiled
*.a
*.exe
*.lpi
*.lpi
backup/kiss_example1.pas
kiss_example1.lpi
